*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav{
  background-color: black;
  color: white;
  height: 3.5rem;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  padding: 1 rem;
  font-family: 'Tilt Prism', cursive;

}

nav li{
  list-style: none;

}

.gamecontainer{

  display: flex;
  margin-top: 1rem;
  width: 100%;
justify-content: center;
}

.container{
display:  grid;
grid-template-columns: repeat(3, 10vw);
grid-template-rows:  repeat(3, 10vw);

}
.leaderBoard{
    margin-top: 1rem;
    display: flex;
    justify-content: space-around;
}

.imgbox img{
  width: 0;
  margin-top: 1rem;
  transition: width 1s ease-in-out;
}
.box{
  border: 2px solid black;
  font-size: 8vw;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box:hover{
  background-color: #ffb3b3;
  transition: all 0.3s;
}

.gameinfo{
  padding: 0 2.5rem;

}

.info{
  color: rgb(46, 101, 205);
border: 1px solid rgb(46, 101, 205);
padding: 0.1rem 1rem;
border-radius: 0.4rem;
font-weight: 500;
}



/*.gameinfo h1{
  font-size: 1.7rem;
}*/


.br-0{
  border-right: 0;

}

.bl-0{
  border-left: 0;
}

.bt-0{
  border-top: 0;

}

.bb-0{
  border-bottom: 0;
}

#reset{
  background-color: rgb(46, 101, 205);
    color: whitesmoke;
    border: 1px solid transparent;
    padding: 0.1rem 1rem;
    border-radius: 0.4rem;
    font-size: 1rem;
    transition: all 0.3s;
}

#reset:hover{
    color: rgb(46, 101, 205);
    border: 1px solid rgb(46, 101, 205);
    background-color: whitesmoke;
    cursor: pointer;
}

footer{
    font-family: serif;
    font-size: 0.9rem;
    position: absolute;
    bottom: 2px;
    left: 50%;
    transform: translateX(-50%);
}




@media screen and (max-width: 800px){

  .gamecontainer{
    flex-wrap : wrap;
    margin-top: 3rem;
  }
  .gameinfo{
    margin-top: 2rem;
  }
  .container{

    grid-template-rows: repeat(3, 20vw);
    grid-template-columns: repeat(3, 20vw);
  }
  h1{
        font-size: 1.8rem;
    }
}
